@import "/public/scss/variables";
@import "/public/scss/mixins";

.page {
  display: flex;
  margin: 0px;
  width: 100%;

  .img {
    @include FlexCenter();
    background-color: white;
    width: 70%;
    @include respond(medium) {
      display: none;
    }
  }

  .pageContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    margin: auto;
    @include respond(medium) {
      width: 70%;
    }

    .heading {
      @include FlexCenter();
      flex-wrap: wrap;
      gap: 10px;

      .gray {
        font-size: 1.8rem;
        font-weight: bolder;
        color: $gray;
      }

      .green {
        font-size: 1.8rem;
        font-weight: bold;
        color: $green;
      }
    }

    .inputContent {
      margin-top: 2rem;
      margin-bottom: 2rem;

      .fields {
        gap: 0.3rem;
        flex-direction: column;
        width: 100%;

        .title {
          color: $gray;
          font-size: 0.8rem;
          left: 0;
          margin: 0px;
          margin-bottom: 5px;
        }

        .forgotPassword {
          color: red;
          margin-top: 0.2rem;
        }

        .signup {
          color: $green;
          margin-left: 0.5rem;
        }

        .footer {
          width: 100%;
          @include FlexCenter();
          flex-direction: column;
        }
        .divider {
          background-color: $gray;
        }
      }
    }
  }
}
