@import "/public/scss/variables";

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5;

  .inputContainer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;

    .title {
      color: $gray;
      font-size: 0.8rem;
      left: 0;
      margin: 0px;
    }

    .textarea {
      width: 100%;
      height: 100px;
      margin-top: 2px;
      margin-bottom: 10px;
      border-radius: 10px;
      box-sizing: border-box;
      padding: 12px;
      border: 2px solid lightgray;
      outline: none;
      color: $gray;
      font-size: 1rem;
      &:focus {
        border: 2px solid $green;
      }
    }
  }
}
