@import "/public/scss/mixins";
@import "/public/scss/variables";

.page {
  .hero {
    padding-left: 5%;
    padding-right: 5%;
    background-color: #1f1f21;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .textSection {
      display: flex;
      justify-content: center;
      flex-direction: column;
      .heading {
        color: white;
        width: 70%;
        font-size: 60px;
        .dream {
          color: $green;
        }
      }
      .subtitle {
        margin-top: 2%;
        color: white;
        width: 40%;
        font-size: 20px;
      }
      .button {
        margin-top: 2%;
        width: 28%;
      }
    }
  }
  .sponsors {
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 1%;
    background-color: $lightGreen;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}
.a {
  background-color: aqua;
  @include respond(large) {
    background-color: black;
  }

  @include respond(medium) {
    background-color: yellow;
  }
  @include respond(small) {
    background-color: white;
  }
}
